---
layout: default
permalink: /contact/
---
{% include navigation.html%}
<main class="about">
    <div class="about__description container">
        <h1 class="about__title center-text support--title">CONNECT WITH US TODAY</h1>
        <div class="contact_details container">
            <div class="contact__description">
                <p >
                    'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a
                    story
                    and let your
                    users know a little more about you
                </p>
                <p class="flex-contact phone center-text">
                    <img class="icon icon--phone" src="/assets/images/call.png" alt="phone-icon">
                    <span class="contact_block phone__number">+2203456094</span>
                </p>
                <p class="flex-contact contact__location center-text">
                    <img class="icon" src="/assets/images/maps-and-flags.png" alt="location">
                    <span class="contact_block">
                        500 Terry Francois Street <br>

                        San Francisco, CA 94158
                    </span>

                </p>
                <p class="flex-contact center-text">
                    <img class="icon" src="/assets/images/close-envelope.png" alt="email">
                    <span class="contact_block">test@gmail.com</span>
                </p>
            </div>
            <form class="contact__form" autocomplete="off">
                
                 <div class="form__group">
                     <label class="label"  for="name">Name</label>
                     <input type="text" name="" id="name">
                 </div>
                <div class="form__group">
                    <label class="label" for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form__group">
                    <label class="label" for="message">Message</label>
                    <textarea name="" id="" cols="30" rows="10">

                    </textarea>
                </div>
                
<input type="submit" value="Send" class="card__button">

            </form>
        </div>
    </div>

  <section class="map">
      
  </section>
</main>
 
{%include connect.html%}
{%include footer.html%}