---
layout: default
permalink: /support/
---

{%include navigation.html%}
<main class="about">

    <div class="about__description container">
        <h1 class="about__title center-text support--title">Support Us</h1>
        <div class=" grid__item volunteer container">
            <img class="support__image" src="/assets/images/about.jpg" alt="about">
            <div class="volunteer__description">
                <h3 class="description__title">Volunteer</h3>
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                double click me to
                add your own content and make changes to the font. I’m a great place for you to tell a story and let
                your users know a
                little more about you.
            </div>
        </div>

        <div class=" grid__item volunteer container">
            <img class="support__image" src="/assets/images/about.jpg" alt="fundraise">
            <div class="volunteer__description">
                <h3 class="description__title">Fundraise</h3>
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                double click me to
                add your own content and make changes to the font. I’m a great place for you to tell a story and let
                your users know a
                little more about you.
            </div>
        </div>
        <h1 class="donate__title center-text">WAYS YOU CAN DONATE</h1>
        <div class="donate__cards">
            <div class="card-support card--person">
                <img class="card-support__icon icon--person" src="/assets/images/man-user.png" alt="">
                <h3 class="center-text">In Person</h3>
                <p class="card-support__description center-text">
                    I'm a paragraph. Click here to add <br> your own text and edit me.
                </p>
                <p class="card-support__description card-support--address center-text">
                    500 Terry Francois Street <br>
                    San Francisco, CA 94158
                </p>

            </div>
            <div class="card-support__description card--online">
                <img class="card-support__icon" src="/assets/images/global (1).png" alt="online">
                <h3 class="center-text card__title--online">Online</h3>
                <p class="center-text">
                    I'm a paragraph. Click here to add <br> your own text and edit me.
                </p>
                <a href="" class="card__button">Donate</a>
            </div>

              <div class="card-support__description card--phone">
                <img class="card-support__icon" src="/assets/images/phone-receiver.png" alt="phone">
                <h3 class="center-text ">Over The Phone</h3>
                <p class="center-text">
                    I'm a paragraph. Click here to add <br> your own text and edit me.
                </p>
              <p class="center-text">+2203888239</p>
            </div>

               <div class="card-support__description card--email">
                <img class="card-support__icon" src="/assets/images/close-envelope.png" alt="email">
                <h3 class="center-text ">Over The Phone</h3>
                <p class="center-text">
                    I'm a paragraph. Click here to add <br> your own text and edit me.
                </p>
              <p class="center-text">test@gmail.com</p>
            </div>
        </div>






</main>
{%include connect.html%}
{%include footer.html%}