<section class="contact">
    <div class="wrapper container">
        <div class=" location">
            <h4 class="social__title">Contact Us</h4>
            <p>500 Westfiled <br>
                Westcoast Region <br>
                test@gmail.com
            </p>
        </div>
        <div class="social">
            <h4 class="social__title">Connect With Us</h4>
            <p>
                Facebook <br>
                Instagram <br>
                Twitter
            </p>
        </div>
    </div>
</section>