<section class="mission">
    <div>
        <h2 class="heading mission__heading center-text">OUR MISSION</h2>
        <p class="mission__description center-text container">
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
            click me to
            add your own content and make changes to the font. I’m a great place for you to tell a story and let your
            users know a
            little more about you.
        </p>
        <a href="#" class="heading__btn center-text">Read more</a>
    </div>
    <div class="support">
        <div class="support__background-color"></div>
        <a href="#" class="support__btn">Support Us</a>
    </div>

</section>