<section class="projects container">
    <h3 class="heading center-text"> Our Projects</h3>
    <div class="cards">
        <div class="card">
            <img src="../assets/images/project1.jpg" alt="">
            <h4 class="card__title center-text">Project Title</h4>
            <div class="card__description center-text">
                <span class="card__location center-text">Mon 02 Jan|</span>
                <span>Banjul</span>
            </div>

            <a href="" class="card__button">Read More</a>

        </div>
        <div class="card">
            <img src="../assets/images/project1.jpg" alt="">
            <h4 class="card__title center-text">Project Title</h4>
            <div class="card__description center-text">
                <span class="card__location center-text">Mon 02 Jan|</span>
                <span>Banjul</span>
            </div>

            <a href="" class="card__button">Read More</a>

        </div>
        <div class="card">
            <img src="../assets/images/project1.jpg" alt="">
            <h4 class="card__title center-text">Project Title</h4>
            <div class="card__description center-text">
                <span class="card__location center-text">Mon 02 Jan|</span>
                <span>Banjul</span>
            </div>

            <a href="" class="card__button">Read More</a>

        </div>
    </div>
</section>