.contact_block{
    display: block;
}

.label{
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

input, textarea{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: $color-mission;
    
}
input[type="submit"]{
    border: none;
}
input:focus , textarea:focus{
    outline: none; 
    border-bottom-color: $color-primary;  
}

@include respond-to(tablet-large) {
  .contact_details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
  }
  
  .contact__description{
    width: 70%;
  }
  .flex-contact{
      display: flex;
      align-items: center;
  }
  .icon{
      padding: 1rem;
  }
}